#revealBtn {
    font-size: 50px; /* Bigger text */
    padding: 15px 30px;
    background-color: #FF69B4;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    overflow: hidden; /* Prevent scrolling */
}

h1 {
    font-size: 32px;
    text-align: center;
    color: #1E90FF;
}

.balloon-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: floatAround 20s linear infinite; /* Adjusted to ensure it starts correctly */
    cursor: url('pin.png'), auto; /* Adjust according to your actual cursor image path */
}

.balloon {
    width: 150px; /* Larger balloon */
    height: 200px;
    background-color: #FF69B4; /* Adjusted balloon color */
    border-radius: 50% 50% 50% 50% / 40% 40% 60% 60%;
    position: relative;
    animation: float 2s ease-in-out infinite; /* Smooth floating animation */
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

@keyframes floatAround {
    0%, 100% {
        transform: translate(-50%, -50%);
    }
    25% {
        transform: translate(50vw, -50%);
    }
    50% {
        transform: translate(50vw, 50vh);
    }
    75% {
        transform: translate(-50vw, 50vh);
    }
}

.tringle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid #FF69B4; /* Matching tringle color with balloon */
    position: absolute;
    left: 70px; /* Centered below the balloon */
    top: 200px;
}

.string {
    width: 2px;
    height: 100px; /* Longer string */
    background-color: #555;
    position: absolute;
    left: 74px; /* Centered below the balloon */
    top: 220px;
}
