body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
}

#revealBtnContainer {
    text-align: center;
}

#revealBtn {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4fc3f7;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

